LabSenseDB
*.pyc
.DS_Store
*.o
*.swp
*.svn
*.dblite
tags
.Python
*log.txt

bin/
include/
lib/
local/

deprecated/LabSenseServer/SocketIOServer/cache.db
deprecated/LabSenseSupervisor/zwcfg_0x014d08e6.xml
deprecated/LabSenseSupervisor/zwscene.xml
deprecated/LabSenseSupervisor/cache.db
deprecated/LabSenseSupervisor/OZW_Log.txt
deprecated/LabSenseSupervisor/logs/
deprecated/LabSenseModbus/TCPModbusClient
deprecated/LabSenseServer/SocketIOServer/cache.db

LabSenseHandler/config.json
