{% extends "base.html" %}

{% block content %}
<div class="span9">
    <div class="page-header">
        <h1> Raritan </h1>
    </div><!--/page-header-->
    
    <div id="chart-container-1" class="highcharts-container" style="width: 100%;
        position: relative; height: 100% margin: 0 2; clear:both"></div>
    {% block tables %}{% endblock %}

</div><!--/span9-->
    
{% endblock %}

{% block javascript %}
<script src="{{ STATIC_URL }}js/highcharts.js"></script>

{% load socketio_tags %}
{% socketio %}
<script>window.channel = "{{ channel }}";</script>
<script src="{{ STATIC_URL }}js/labsense.js"></script>

<script type = "text/javascript">

var chart1; // globally available

<!--function load_data()-->
<!--{-->
    <!--setInterval(function() {-->
        <!--$.get('../{{data_list.field}}/{{data_list.field_val}}/livedata',-->
            <!--function(data, XMLHttpRequest) {-->
                <!--data = JSON.parse(data);-->
                <!--total_power = 0;-->
                <!--if(data.length <= 0)-->
                <!--{-->
                    <!--alert("No data was found for {{data_list.field}} \-->
    <!--{{data_list.field_val}}.\n");-->
                    <!--return; -->
                <!--}-->
                <!--console.log("Received data: " + data[0].power);-->

                <!--//chart1.series[0].setData(power_array,true);-->
                <!--// Set Energy: -->
                <!--// Total power * # measurements/(sampling rate/# channels)-->
                <!--//chart1.series[0] = [{'time': data.time, 'power': data.power}];-->
                <!--chart1.series[0].addPoint([data[0].time, data[0].power]);//, true, true);-->
                <!--/*-->
                <!--document.getElementById("text-container").textContent = "Average\-->
                    <!--Power: " + total_power/data.length;-->
                <!--document.getElementById("text-container2").textContent ="Energy: \-->
                <!--"+ total_power/(frequency/num_channels);-->
                <!--*/-->
                
        
            <!--}-->
        <!--);-->
    <!--},500);-->
<!--}-->

$(document).ready(function() {
        chart1 = new Highcharts.Chart({
         chart: {
            renderTo: 'chart-container-1',
            zoomType: 'x',
            defaultSeriesType: 'spline',
            <!--events: {-->
                <!--load: load_data-->
            <!--}-->
         },
         title: {
            text: 'Power Measurements for {{data_list.field}} {{data_list.field_val}} '
         },
         xAxis: {
            title: {
                text: 'Time (seconds)',
                tickPixelInterval: 75
            }
         },
         yAxis: {
            title: {
               text: 'Power (watts)'
            }
         },
         series: [{
            name: 'Power',
            data: [] 
         }
         ]
      });
    })

</script>
{% endblock %}
