{% extends "base.html" %}

{% block sidebar %}
    <div class="span2">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">

          {% for channel in channels %}
          <li class="nav-header"><a
              href="../{{ channel.slug }}">{{ channel.name }}</a></li> 
            {% for measurement in channel.measurement_set.all %}
            <li><a href="../{{ channel.slug }}/{{measurement.slug}}">{{ measurement.name }}</a></li>
              {% endfor %}
          {% endfor %}
        </ul>
      </div><!--/.well -->
    </div><!--/span-->

{% endblock %}

{% block content %}
<div class="span10">
    <div class="page-header">
        <h1>{{ current_channel.title }} </h1>
    </div><!--/page-header-->
    
    <div id="chart-container-1" class="highcharts-container" style="width: 100%;
        position: relative; height: 100% margin: 0 2; clear:both"></div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Measurement</th>
                {% for sensor in sensors %}
                <th>{{ sensor }}</th>
                {% endfor %}
            </tr>
        </thead>
        {% for measurement in current_channel.measurement_set.all %}
        <tbody>
            <tr id="{{ measurement.slug }}-table">
                <td class="sensor_table_class">{{ measurement.name }} ({{ measurement.units }})</td>
                {% for sensor in sensors %}
                <td class="sensor_table_class" onclick="changeChart('{{ current_channel.slug}}', '{{ measurement.slug}}', {{ sensor }})">0</td>
                {% endfor %}
            </tr>
        </tbody>
        {% endfor %}
    </table>

</div><!--/span9-->
    
{% endblock %}

{% block javascript %}
<script src="{{ STATIC_URL }}js/highcharts.js"></script>
<script src="{{ STATIC_URL }}js/socket.io.js"></script>
<script src="{{ STATIC_URL }}js/underscore-min.js"></script>
<script src="{{ STATIC_URL }}js/backbone-min.js"></script>
<script>window.channel = "{{ current_channel }}";</script>


<script type = "text/javascript">

var chart1; // globally available

var chart_channel = "{{ current_channel.slug }}";
var chart_measurement = "{{ default_measurement }}";
var chart_sensor_number = 1;
{% block socketio %}{% endblock %}

function changeChart(channel, measurement, sensor_number) {
    chart1.series[0].setData([]);

    chart_name = channel + "_" + measurement + "_" + sensor_number;
    socket.send({action: "init", channel: channel, name: chart_name });

    title = channel + " " + measurement + " for Sensor #" + sensor_number;

    chart1.setTitle({text: title});
    chart1.yAxis[0].axisTitle.attr({
            text:measurement 
    });
    chart1.series[0].name =  measurement;

    chart_channel = channel;
    chart_measurement = measurement;
    chart_sensor_number = sensor_number;
};

$(document).ready(function() {

        chart1 = new Highcharts.Chart({
         chart: {
            renderTo: 'chart-container-1',
            zoomType: 'x',
         },
         title: {
            text: 'Power Measurements for {{data_list.field}} {{data_list.field_val}} '
         },
         xAxis: {
            type: "datetime",
            title: {
                text: 'Time',
                tickPixelInterval: 75
            }
         },
         yAxis: {
            title: {
               text: 'Power (watts)'
            }
         },
         series: [{
            <!--name: 'Power',-->
            data: [] 
         }
         ]
      });

      changeChart(chart_channel, chart_measurement, chart_sensor_number);

});

</script>

<!--<script src="{{ STATIC_URL }}js/labsense.js"></script>-->

{% endblock %}

