{% extends "generic_channel.html" %}

{% block table %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Measurement</th>
            {% for sensor in sensors %}
            <th>{{ sensor }}</th>
            {% endfor %}
        </tr>
    </thead>
    {% for measurement in current_channel.measurement_set.all %}
    <tbody>
        <tr>
            <td>{{ measurement.name }}</td>
            {% for sensor in sensors %}
            <td>0</td>
            {% endfor %}
        </tr>
    </tbody>
    {% endfor %}
</table>
{% endblock %}
